%dialog {
	@extend %card;
	
	background-color: white;
	position: fixed;
  	width: 50%;
  	top: 25%;
  	left: 25%;
	opacity: 0;
  	pointer-events: none;
	transform: scale(0.75);
	transition: opacity 0.15s, transform 0.15s; 
	
	
	.dialog-open /deep/ & {
		opacity: 1;
		transform: scale(1);
		pointer-events: all;
	}
	
}

.overlay {
	
}

.dialog-open /deep/ .overlay {
	filter: blur(5px) grayscale(50%);
	-webkit-filter: blur(5px) grayscale(50%);
	
	pointer-events: none;
}

* /deep/ .dialog {
	@extend %dialog;
}