$link-colors: $primary, $secondary, $accent;

/*----------------------------------------
 ----------------------------------------
			Link Element (a)
 ----------------------------------------
----------------------------------------*/


%a {
	@include color-text();
	
	margin: 0.2rem 0.4rem;
	padding: 0.8rem;
	border: 0px transparent;
	border-radius: 0.2rem;
	text-decoration: none;
	
	@include type-setting(0);
	
	&:hover {
		text-decoration: underline;
	}
	
	@each $name, $color in $color-map {
		&[#{$name}] {
			@include color-text($color);
		}
	}

	
}


/*--------------------
	Button Style
--------------------*/

@mixin fat($color:$primary) {
	@include color($color);	
	&:hover {
		text-decoration: none;
	}
}

%a.btn {
	@include fat();
}

@each $name, $color in $color-map {
	%a.btn[#{$name}] {
		@include fat($color);
	}
}


/*--------------------
	Raised Style
--------------------*/

@mixin raised($color:$primary) {
	box-shadow: 0 1px 1px 1px darken($color, 20%);
	&:hover {
		box-shadow: 0 2px 2.5px 1.5px darken($color, 20%);		
	} 
}

%a[raised] {
	@include raised();
}

@each $name, $color in $color-map {
	%a[#{$name}][raised] {
		@include raised($color);
	}
}

/*--------------------
	Bordered Style
--------------------*/

@mixin bordered($color:$primary) {
	border: 2px solid $color;
}

%a[border] {
	@include bordered();
}

@each $name, $color in $color-map {
	%a[#{$name}][border] {
		@include bordered($color);
	}
}

/*--------------------
	Small Style
--------------------*/

@mixin small() {
	padding: 0.4rem;
	@include type-setting(-1);
}

%a[small] {
	@include small();
}

/*--------------------
	big Style
--------------------*/

@mixin big() {
	padding: 1rem;
	@include type-setting(1);
}

%a[big] {
	@include big();
}

* /deep/ a {
	@extend %a;
}