@import '../typeface/rhythm';

$button-colors: $primary, $secondary, $accent;

/*----------------------------------------
 ----------------------------------------
			Button Element
 ----------------------------------------
----------------------------------------*/

%button {
	@include color();
	@include type-setting(0);
	
	margin: 0.2rem 0.4rem;
	padding: 0.8rem;
	border: 0px transparent;
	border-radius: 0.2rem;
	outline: none;
	
	
	&:hover {
		box-shadow: 0 1px 1px 1px darken($primary, 20%);
	}
	
	@each $name, $color in $color-map {
		&[#{$name}]:hover {
			box-shadow: 0 1px 1px 1px darken($color, 20%);
		}
	}
}


/*--------------------
	Flat Style
--------------------*/

@mixin flat($color:$primary) {
	color: $color;
	background-color: transparent;
	box-shadow: none;
	&:hover {
		box-shadow: none;
		text-decoration: underline;
	}
}

%button[flat] {
	@include flat();
}

@each $name, $color in $color-map {
	%button[#{$name}][flat] {
		@include flat($color);
	}
}


/*--------------------
	Raised Style
--------------------*/

@mixin raised($color:$primary) {
	box-shadow: 0 1px 1px 1px darken($color, 20%);
	&:hover {
		box-shadow: 0 2px 2.5px 1.5px darken($color, 20%);		
	} 
}

%button[raised] {
	@include raised();
}

@each $name, $color in $color-map {
	%button[#{$name}][raised] {
		@include raised($color);
	}
}

/*--------------------
	Bordered Style
--------------------*/

@mixin bordered($color:$primary) {
	border: 2px solid $color;
}

%button[border] {
	@include bordered();
}

@each $name, $color in $color-map {
	%button[#{$name}][border] {
		@include bordered($color);
	}
}

/*--------------------
	Small Style
--------------------*/

@mixin small() {
	@include type-setting(-1);
	padding: 0.4rem;
	margin: 0.2rem 0.4rem;
}

%button[small] {
	@include small();
}

/*--------------------
	big Style
--------------------*/

@mixin big() {
	@include type-setting(1);
	padding: 0.8rem 1rem;
	margin: 0.2rem 0.4rem;
}

%button[big] {
	@include big();
}

* /deep/ button {
	@extend %button;
}