@import '../typeface/rhythm';


%h1, %h2 {
	line-height: line-height(2);
	margin-bottom: line-height(2);
}

%h3, %h4 {
	line-height: line-height(1);
	margin-bottom: line-height(1);
}

%h5, %h6 {
	line-height: line-height(0);
	margin-bottom: line-height(0);
}

@each $h in h1, h2, h3, h4, h5, h6 {
	* /deep/ #{$h} {
		@extend %#{$h};
		
	}
}